.main{
    width: 100vh;
}

.box{
    box-shadow: 
    3px 0px 5px 0px #fff ,
    0px 1px 5px 0px #fff,
    -10px 0px 5px 0px #fff,
    0px -10px 5px 0px #fff;
    border-radius: 56px ; 
 } 

.container{
    margin-left: 20%;
    margin-right: 3rem;
    
}

.btn{
    display: block;
    justify-content: center;
    
}

.or{
    margin-left: 4rem;
    padding: 1rem;
  
}

@media only screen and (max-width: 600px){
    .box{
          position:"absolute";
          top:"80%"; 
          right:"10%";
          margin-right:"18rem"; 
          width:'480' ;
             
    }
        
}

