.box{
    background-color: #EFF3F4;
    height :auto;
    border: 0.2px ;
    margin-top: 1em;
    width: 75%;
    border-radius: 30px;
    margin-left: 10%;
    overflow: hidden;
}
.head{
    padding:1.5em;
    border:  rgb(165, 163, 163);
    font-size: .8rem;
   
}

.contentmain{
    display: flex;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
    cursor: pointer;
}

.contentmain:hover{
    background-color: #efefef;   
   
}

.content{
    height: 10vh;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
   
}
.content1{
   font-weight: bolder;
}

.ShowMore{
    color: rgb(24, 141, 187);
    margin: 1rem;
    padding: 0.4rem;
    border: none;
    margin-right:1rem;
    cursor:pointer;
}

.ShowMore:hover{
    color:rgb(143, 143, 230);      
}

.Parent{
    position: relative;
}

.child{
    background-color: #fff;
    position: absolute;
    right: 1rem;
    padding: 1rem;
    width: 18rem;
    align-items: center;
      
}
@media screen and (max-width:843px){
    .head{
        font-size: .5rem;
    }
    .contentmain{
        margin-top: 20px;
    }
}

@media screen and (max-width:643px){
   
    .contentmain{
        margin-top: 30px;
    }
}