.card:hover{
background-color: #F7F9F9;
}

.commit:hover{
    color:skyblue;
  }
  .retweet:hover{
    color:green;
  }
  .fav:hover{
    color:rgb(218, 37, 178);
  }
  .view:hover{
    color:skyblue;
  }
  .share:hover{
    color:skyblue;
  }